nav {
  background-color: var(--primary-color);
  padding: 30px 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;


  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 25px;

    li {
      display: inline;

      a {
        text-decoration: none;
        color: var(--text-color);
        font-weight: bold;

        &:hover {
          color: var(--primary-color);
        }
      }
    }
  }

  .nav_logo {
    display: flex;
    align-items: center;
    gap: 5px;

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }

    p {
      margin: 0;
      font-size: 1.4rem;
      font-weight: 400;
      color: var(--text-color);
      font-family: latino;
    }
  }
  
}

a {
  text-decoration: none;
  color: var(--text-color);
}
  div.nav_mobile {
  display: none ;
  font-size: 2rem;
  color: var(--text-color);
  cursor: pointer;
}
button {
  &.login_btn {
    background-color: transparent;
    color: var(--text-color);
    padding: 8px 16px;
    font-weight: 400;
    font-size: 24px;
    border: none;
    border-radius: 999px;
    cursor: pointer;

    a {
      color: var(--text-color);
      text-decoration: none;
      font-weight: 400;
      font-size: 24px;
    }

    &:hover {
      background-color: var(--primary-color);
      transition: 0.2s ease-in-out;

      a {
        color: var(--background-color);
        transition: 0.2s ease-in-out;
      }
    }
  }

  &.signup_btn {
    background-color: var(--text-color);
    padding: 8px 16px;
    border: none;
    border-radius: 999px;
    cursor: pointer;
    font-weight: 400;
    font-size: 24px;

    a {
      color: var(--background-color);
      text-decoration: none;
      font-weight: 400;
      font-size: 24px;
    }

    &:hover {
      background-color: var(--primary-color);
      transition: 0.2s ease-in-out;

      a {
        color: var(--text-color);
        transition: 0.2s ease-in-out;
      }
    }
  }
}


@media (max-width: 768px) {
  div.nav_mobile {
    display: block;
    font-size: 24px;
    margin-bottom: 10px;
  }
  ul.nav_list {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    background-color: var(--secondary-color);
    padding: 20px;
    gap: 10px;

    li {
      text-align: center;
      width: 100%;

      a {
        color : var(--primary-color);
        display: block;
        padding: 10px 0;
      }
    }
  }
}
.nav_list.active{
  display : flex;
}