:root {
  --primary-color: #F9C265;
  --secondary-color: #212529;
  --text-color: #1C1715;
  --text2-color: #A29E95;
  --background-color: #fff;
  --background-color2: #FDF6E4;
  --font-family: 'Inter', sans-serif;
  font-size: 24px;
}
